*{
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body{
    background-color: rgb(16, 15, 15);
    height: 100vh;
    color: wheat;
}

h1{
    margin-top: 10vh;
    font-size: 50px;
    text-align: center;
}

hr{
    margin-top: 68vh;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

footer{
    margin-top: 3vh;
    text-align: center;
}